<mat-card>
  <mat-card-content>
    Taille du texte
    <button mat-icon-button (click)="settingsService.increaseFontSize()"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="settingsService.decreaseFontSize()"><mat-icon>remove</mat-icon></button>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    Annotations
    <mat-slide-toggle [(ngModel)]="settingsService.settings.visibility.displayAnnotations"
    (ngModelChange)="settingsService.visibilityChanged()">
  </mat-slide-toggle>
  </mat-card-content>
</mat-card>
