header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#app-title{
  font-family : 'Pacifico';
  user-select : none;
}

.spacer {
  flex: 1 1 auto;
}

.mini-spacer {
  flex: 0 0 1rem;
}

.second-header-text {
  font-size: 0.9rem;
}

#reduce-font-size {
  transform: scale(0.65);
}

mat-icon {
  cursor: pointer;
}

a {
  color: default;
}

a:visited {
  color: default
}
