header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#app-title{
  font-family : 'Pacifico';
  user-select : none;
}

.spacer {
  flex: 1 1 auto;
}

.mini-spacer {
  flex: 0 0 1rem;
}
