<header>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span id="app-title">KH Story</span>
      <span class="spacer"></span>
      <span>

        <a mat-icon-button href="mailto:contact@kh-story.com">
          <mat-icon>email</mat-icon>
        </a>

      </span>
      <span>
        <button mat-icon-button aria-label="Connexion" (click)="openLoginDialog()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar>
    <mat-toolbar-row>
      <app-chapters-menu></app-chapters-menu>
      <span class="spacer"></span>


      <app-download-menu style ="display : none"></app-download-menu>

      <span class="mini-spacer"></span>

      <span class="second-header-text">Texte :</span>
      <app-icon id="reduce-font-size" [alt]="'Réduire la taille de la police'" [height]="40"
        [iconeName]="'keyblade.png'" (click)="settingsService.decreaseFontSize()">
      </app-icon>
      <app-icon [alt]="'Augmenter la taille de la police'" [height]="40" [iconeName]="'keyblade.png'"
        (click)="settingsService.increaseFontSize()">
      </app-icon>

      <span class="mini-spacer"></span>

      <mat-slide-toggle [(ngModel)]="settingsService.settings.visibility.darkMode"
        (ngModelChange)="settingsService.visibilityChanged()">
      </mat-slide-toggle>
      <mat-icon (click)="settingsService.toggleDarkMode()">wb_sunny</mat-icon>

    </mat-toolbar-row>
  </mat-toolbar>

</header>
