.form-field__textarea {
  width: 100%;
}

.form-group {
  mat-form-field {
    margin-right: 1rem;
    width: 300px;
  }
}

#form-field__anti-spam {
  margin-left: 1rem;
  width: 250px;
}

form {
  margin-bottom: 1rem;
}

#comments {

  mat-icon {
    transform: scale(0.7);
    vertical-align: bottom;
  }

  .comment {
    margin-bottom: 1rem;
  }

  .comment__header {
    line-height: 1.5rem;
    font-style: italic;

    &__name {
      text-decoration: underline;
    }
  }

}
