<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div>Commentaires</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="addComment()">

      <div class="form-group">
        <mat-form-field class="form-field__string">
          <mat-label>Pseudonyme</mat-label>
          <input matInput placeholder="Pseudonyme" formControlName="name">
          <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email (optionnel)</mat-label>
          <input matInput placeholder="Email (optionnel)" formControlName="email">
          <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form-field__textarea">
          <textarea matInput
            placeholder="N'hésitez pas à faire part de vos corrections, suggestions ou de vos remarques, que ce soit sur l'écriture, le nombre de captures d'écran, le niveau de précision du résumé... Soyez juste constructif !"
            formControlName="comment" maxlength="1000" rows="5"></textarea>
          <mat-hint align="end">{{form.controls.comment.value?.length}}/1000</mat-hint>
          <mat-error *ngIf="form.controls.comment.invalid">{{getErrorMessage('comment')}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <input type="hidden" formControlName="antiSpamId">
        <p>Anti-spam : {{antiSpamQuestion}}
          <mat-form-field id="form-field__anti-spam">
            <input matInput formControlName="antiSpamAnswer" maxlength="20">
            <mat-error *ngIf="form.controls.antiSpamAnswer.invalid">{{getErrorMessage('antiSpamAnswer')}}</mat-error>
          </mat-form-field>
        </p>

      </div>

      <div>
        <button mat-raised-button type="submit" color="primary">Poster</button>
      </div>
    </form>

    <div id="comments">
      <div *ngFor="let comment of comments">
        <div class="comment">
          <div class="comment__header">
            <span class="comment__header__name">{{comment.userName}}<mat-icon
                *ngIf="comment.isAdministrator">star</mat-icon></span> le
            <span class="comment__header__date">{{comment.date | date:'dd/MM/yyyy à HH:mm'}}</span> :
          </div>
          <div class="comment__content">{{comment.comment}}</div>
          <div *ngIf="isAuthenticated"><span><button mat-raised-button
                (click)="removeComment(comment)">Supprimer</button></span></div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
