<section id="story-content">
  <mat-icon>add</mat-icon>

  <div *ngFor="let storySegment of storySegments" [class]="storySegment.class">
    <div *ngIf="displayMethod(storySegment).display">
      <div [class]="'mat-' + storySegment.class">
        {{ displayMethod(storySegment).content }}
      </div>
      <div
        *ngIf="storySegment.annotation && storedDisplayAnnotation"
        class="story-content-annotation"
      >
        {{ storySegment.annotation.content }}
      </div>

      <mat-icon>edit</mat-icon>
      <mat-icon>delete</mat-icon>
      <mat-icon>add</mat-icon>
    </div>
  </div>

  Voir ici pour customized la typo https://material.angular.io/guide/typography
</section>
