ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 600x) {
  .screen-small {
    display: none;
  }

  .screen-large {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .screen-large {
    display: none;
  }

  .screen-small {
    margin-bottom: 1rem;
  }
}
