h1,
h2,
h3,
p {
  line-height: 1.2em;
}

p {
  text-align: justify;
}

h1 {
  font-size: 2em;
  text-decoration: underline;
}

h2 {
  font-size: 1.5em;
  text-decoration: underline;
}

h3 {
  font-size: 1.17em;
  font-style: italic;
}

.illustration-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 839.9px) {
  .illustration {
    width: 320px;
    height: 180px;
  }

  .caption {
    width: 304px;
  }
}

@media screen and (min-width: 840px) {
  .illustration {
    width: 480px;
    height: 270px;
  }

  .caption {
    width: 464px;
  }
}

.illustration {
  position: relative;
  border: 1px solid rgb(0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  line-height: 1em;
}
