<ng-container *ngIf="displayed && isAuthenticated">
  <div>

    <div *ngIf="!isLoading">
      <ng-container *ngIf="textFormMetadata.type=='title'">
        <form [formGroup]="titleForm" (ngSubmit)="onSubmitTitle()">
          <div>
            <mat-form-field>
              <input matInput placeholder="Titre" formControlName="title" required>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="onSubmitTitle()">{{submitButtonText}}</button>
            <button mat-raised-button (click)="onCancelTitle()">Annuler</button>
          </div>
        </form>
      </ng-container>
    </div>

    <div>

    </div>
  </div>
</ng-container>
