<ng-container *ngIf="displayed && isAuthenticated">
  <div>

    <div>
      <ng-container *ngIf="textFormIdentifier.type=='title'">
        <mat-form-field>
          <input matInput [(ngModel)]="text">
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="textFormIdentifier.type=='paragraph'">
        <mat-form-field class = "form-textarea">
          <textarea matInput rows="8" [(ngModel)]="text"></textarea>
        </mat-form-field>
      </ng-container>
    </div>

    <div>
      <button *ngIf="textFormIdentifier.action == 'adding'" mat-raised-button color="primary" (click)="onSubmit()">Ajouter</button>
      <button *ngIf="textFormIdentifier.action == 'editing'" mat-raised-button color="primary" (click)="onSubmit()">Modifier</button>
      <button mat-raised-button (click)="cancel()" type="button">Annuler</button>
    </div>
  </div>
</ng-container>
