<section>
    <div>
        Paramètres de lectures
        <div>Paramètres d'affichages (choix de langue, passer en mode détaillé, police, thème, nombre de colonnes, liens
            pour wiki, couper les
            annotations...)</div>
        <div>Filtres</div>
    </div>
    <div>Bouton Générer un PDF</div>
</section>

<section>
    Texte
    <div class="text-start-edit">Bouton pour introduire un élément dès le début</div>
    <div class="text-title">
        Titre avec grade (grade 1, 2, 3...)
    </div>
    <div class="text-segment">
        OR Segment text
    </div>
    <div class="text-segment-annotation">
        Annotations relatives à segment
    </div>
    <div class="text-edit">
        Edition de titre (avec bouton pour introduire un élément à la suite) (p-ê un affichage différent si titre ou
        segment)
    </div>
</section>