<h1>Lecture</h1>

<div *ngFor="let setting of contentParametersService.visibility">

  <ng-container *ngIf="setting.type == 'boolean'">
    <mat-slide-toggle [(ngModel)]="setting.value">
      {{setting.label}}
    </mat-slide-toggle>
  </ng-container>
  <ng-container *ngIf="setting.type == 'options'">
    <mat-form-field>
      <mat-label>{{setting.label}}</mat-label>
      <mat-select [(ngModel)]="setting.value" (ngModelChange)="contentParametersService.saveParameters()">
        <mat-option *ngFor="let option of setting.options | keyvalue" [value]="option.key">
          {{option.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
