<mat-card-header>
  <mat-card-title>Visibilité</mat-card-title>
</mat-card-header>

<mat-card-content>
  <div *ngFor="let setting of contentParametersService.visibility">

    <ng-container *ngIf="setting.type == 'boolean'">
      <mat-slide-toggle [(ngModel)]="setting.value">
        {{setting.id | translatedVisibility}}
      </mat-slide-toggle>
    </ng-container>
    <ng-container *ngIf="setting.type == 'options'">
      <mat-form-field>
        <mat-label>{{setting.id | translatedVisibility}}</mat-label>
        <mat-select [(ngModel)]="setting.value" (ngModelChange)="contentParametersService.saveParameters()">
          <mat-option *ngFor="let option of setting.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>

</mat-card-content>
