<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div>Édition de paragraphe</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
      <form [formGroup]="paragraphForm" (ngSubmit)="onSubmitParagraph()">
        <ng-container *ngFor="let text of texts.controls, let index = index">
          <fieldset [formGroup]="text">
            <legend>Texte {{index +1 }}</legend>
            <div>
              <div>
                <mat-form-field class="form-field__textarea">
                  <textarea matInput placeholder="Texte" formControlName="text" required rows="4"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-icon-button (click)="deleteTextFromForm(index)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </fieldset>
        </ng-container>

        <div>
          <button mat-icon-button (click)="addTextToForm()" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onSubmitParagraph()">Sauvegarder</button>
          <button mat-raised-button mat-dialog-close>Annuler</button>
        </div>
      </form>
    </div>

    <div>

    </div>
  </mat-card-content>
</mat-card>
