<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div>Édition de paragraphe</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">

      <div id="buttons-for-dialog">
        <button mat-raised-button (click)="openAnnotationComponent()" tabindex="-1" color="primary">Annotations</button>
        <button mat-raised-button (click)="openImageComponent()" tabindex="-1" color="primary">Images</button>
      </div>

      <form [formGroup]="paragraphForm" (ngSubmit)="onSubmitParagraph()">
        <ng-container *ngFor="let text of texts.controls, let index = index">
          <fieldset [formGroup]="text">
            <legend>Texte {{index +1 }}</legend>
            <div>

              <div>

                <mat-form-field class="selection-games">
                  <mat-label>Relier aux jeux</mat-label>
                  <mat-select formControlName="relatedTo" multiple>
                    <mat-option *ngFor="let game of games" [value]="game.id">{{game.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div>
                <mat-form-field class="form-field__textarea">
                  <textarea matInput placeholder="Texte" formControlName="text" required rows="6"></textarea>
                </mat-form-field>
              </div>

              <div formGroupName="image" class="image-subform">
                <div>
                  <mat-form-field>
                    <mat-label>Jeu de l'image</mat-label>
                    <mat-select formControlName="game">
                      <mat-option *ngFor="let game of gamesWithImages" [value]="game.id">{{game.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput type="text" formControlName="name" placeholder="Nom de l'image" value=""
                      [matAutocomplete]="auto">

                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let image of getImagesForGame(getSelectedImageGame(index))"
                        [value]="image.name">
                        {{image.name}}
                      </mat-option>
                    </mat-autocomplete>

                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput formControlName="alt" placeholder="Alt de l'image" value="">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button mat-icon-button (click)="deleteTextFromForm(index)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </fieldset>
        </ng-container>

        <div>
          <button mat-icon-button (click)="addTextToForm()" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onSubmitParagraph()">Sauvegarder</button>
          <button mat-raised-button mat-dialog-close>Annuler</button>
        </div>
      </form>
    </div>

    <div>

    </div>
  </mat-card-content>
</mat-card>
