form button {
  margin-right: 1rem;
}

.form-field__textarea {
  width: 665px;
}

fieldset {
  margin-bottom: 1rem;
  display: flex;
}

form {
  overflow-y: scroll;
  max-height: 85vh;
}

#buttons-for-dialog {
  button {
    margin-right: 1rem;
  }

  margin-bottom : 1rem;
}

.image-subform {
  display: flex;

  div {
    margin-right: 1rem;
  }
}
