<ng-container *ngIf="paragraph">
  <p>
    <ng-container *ngFor="let subString of subStrings">
      <ng-container *ngIf="!subString.annotation || !displayAnnotations">{{subString.text}}</ng-container>
      <ng-container *ngIf="subString.annotation && displayAnnotations">
        <span >{{subString.text}}</span><sup [matTooltip]="subString.annotation" class="annotated">?</sup></ng-container>
    </ng-container>
  </p>

  <div class="illustration-container">
    <div class="illustration" *ngIf="paragraph.image">
      <img class="image" [src]="relatedImageSource" [alt]="paragraph.image.alt">
      <div class="caption">{{paragraph.image.alt}}</div>
    </div>
  </div>
</ng-container>
