p {
  line-height: 1.5em;
  text-align: justify;
  white-space: pre-line;
}

.illustration-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.illustration {
  max-width: 480px;
  margin: 2rem;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
}


@media screen and (max-width: 800px) {
  .illustration {
    margin: 0.5rem;
  }
}

.caption {
  position: absolute;
  bottom: 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  line-height: 1em;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .double-image {
    .caption {
      font-size: 0.6em;
      padding: 5px;
    }
  }
}

img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.annotated {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}
