p {
  line-height: 1.5em;
  text-align: justify;
  white-space: pre-line;
}

.illustration-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

sup {
  font-size: 0.7em;
  cursor: pointer;
}

@media screen and (max-width: 839.9px) {
  .illustration {
    width: 320px;
    height: 180px;
  }

  .caption {
    width: 304px;
  }
}

@media screen and (min-width: 840px) {
  .illustration {
    width: 480px;
    height: 270px;
  }

  .caption {
    width: 464px;
  }
}

.illustration {
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  line-height: 1em;
}

.annotated {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset : 3px;
}
