<section id="story-params">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Paramètres d'affichage</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p style ="width : 200px">
        Paramètres d'affichages (choix de langue, passer en mode détaillé,
        police, thème, nombre de colonnes, liens pour wiki, couper les
        annotations...)
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Filtrer les sources</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section id="sources-filter">
        <p *ngFor="let sourceFilter of sourcesFilter">
          <mat-checkbox [(ngModel)]="sourceFilter.selected" (change)="modifySourcesFilter()">
            {{ sourceFilter.name }}
          </mat-checkbox>
        </p>
      </section>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <p>Bouton Générer un PDF</p>
    </mat-card-content>
  </mat-card>
</section>
