<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div>Bibliographie</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>En plus des jeux Kingdom Hearts, la création de ce site a nécessité la consultation de diverses sources :</p>
    <ul>
      <li>La <a href="https://www.youtube.com/playlist?list=PLhcSrKyqhfh4IUovnvR0tRrii_EDTckdk" target="_blank">playlist
          d'Everglow</a>
        contenant un montage de l'ensemble des cinématiques en suivant la chronologie de l'histoire.</li>
      <li><a href="https://www.khdestiny.fr" target="_blank">Kingdom Hearts Destiny</a>, probablement le meilleur site
        francophone
        relatif à la série. Avec notamment une page consacrée aux <a href="https://www.khdestiny.fr/interviews.html"
          target="_blank">interviews</a> ainsi que des retranscriptions des différents
        rapports secrets que l'on trouve dans les jeux (<a
          href="https://www.khdestiny.fr/kingdom-hearts-final-mix-hd-1-5-remix-quetes-rapports-ansem.html"
          target="_blank">KH1</a>, <a
          href="https://www.khdestiny.fr/kingdom-hearts-ii-final-mix-hd-2-5-remix-quetes-rapports-ansem.html"
          target="_blank">KH2</a>,
        <a href="https://www.khdestiny.fr/kingdom-hearts-birth-by-sleep-final-mix-hd-2-5-remix-quetes-rapports-secrets.html"
          target="_blank">BBS</a>
        et <a href="https://www.khdestiny.fr/kingdom-hearts-iii-quetes-annexes-rapports-secrets.html"
          target="_blank">KH3</a>)
      </li>
      <li><a href="https://www.khwiki.com" target="_blank">Kingdom Hearts Wiki</a>, une mine d'informations sur la
        série.
      </li>
      <li><a href="https://www.khinsider.com" target="_blank">Kingdom Hearts Insider</a>, un site anglophone très
        complet.</li>
      <li><a href="https://www.youtube.com/@khinfinity/featured" target="_blank">La chaîne youtube KHinfinity</a>, qui
        propose des analyses et des théories très intéressantes pour ceux voulant aller plus loin dans la compréhension de la série.</li>
    </ul>

    <p>
      Je tiens aussi à remercier les utilisateurs du forum jeuxvideo.com qui répondent patiemment à toutes mes questions
      sur la série, notamment az99 et Ozonoff. Vous pouvez consulter <a
        href="https://www.youtube.com/channel/UCmNXJe_JpvbCflxU2c3setg" target="_blank">la chaîne youtube</a> d'Ozonoff
      sur laquelle il
      publie ses analyses et théories sur la série.
    </p>
  </mat-card-content>
</mat-card>
