<mat-card>
  <mat-card-header class="full-line-title">
    <mat-card-title>
      <div>Dernières informations du site</div>
      <div><button mat-icon-button mat-dialog-close aria-label="Fermer la fenêtre"
          tabindex="-1"><mat-icon>close</mat-icon></button></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="intro">
      <div id="illustration-intro"><img src="assets/images/mog_black_coat.png" alt="Mog manteau noir"></div>
      <div id="info-site">
        <ng-container *ngIf="isAuthenticated">
          <div *ngIf="!openedInfoForm">
            <button mat-icon-button (click)="openAddInfoForm()" tabindex="-1"><mat-icon>add</mat-icon></button>
          </div>
          <div *ngIf="openedInfoForm">
            <form>
              <mat-form-field>
                <input matInput placeholder="Titre" [(ngModel)]="title" name="title">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Contenu" [(ngModel)]="content" name="content" rows="6"></textarea>
              </mat-form-field>
              <button mat-raised-button (click)="addInfo()">Ajouter</button>
            </form>
          </div>
        </ng-container>
        <div *ngFor="let info of infos">
          <div class="info">

            <h2>{{info.title}}</h2>
            <div class="info-date">{{info.date | date:'dd/MM/yyyy'}}</div>
            <div>{{info.content}}</div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
