::ng-deep .full-line-title .mat-mdc-card-header-text {
  width: 100%;
}

#intro {
  display: flex;
  max-height: 320px;

  #illustration-intro {
    padding: 1rem;
    display: flex;
    align-items: center;
  }
}


@media screen and (min-width: 600px) {
  img {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  #intro {
    display: flex;
    max-height: 250px;
  }

  img {
    height: 150px;
  }
}


mat-card-title {
  display: flex;
  justify-content: space-between;

  div:nth-child(2) button {
    margin-top: -7px;
  }
}


mat-card {
  max-width: 600px;
}

h1 {
  text-decoration: underline;
  font-size: 1.2rem;
}

mat-form-field {
  width: 100%;
}


#info-site {
  overflow-y: auto;
  padding: 1rem;
  text-align: justify;

  .info {
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 0;
    }

    .info-date {
      font-size: 0.8rem;
      font-style: italic;
      margin-bottom: 0.5rem;
    }
  }


}
