<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div>Bienvenue sur KH Story !</div>
      <div><button mat-icon-button mat-dialog-close aria-label="Fermer la fenêtre" tabindex="-1"><mat-icon>close</mat-icon></button></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="intro">
      <div><img src="assets/images/mog_black_coat.png" alt="Mog manteau noir"></div>
      <div>
        Vous trouverez sur ce site un résumé intégral (en construction) de l'histoire de Kingdom Hearts. N'hésitez pas à
        utiliser les filtres pour ne pas vous spoiler le contenu d'un jeu.
      </div>
    </div>
  </mat-card-content>
</mat-card>
