#intro {
  display: flex;

  div {
    padding: 1rem;
  }
}

img {
  height: 200px;
}

mat-card-title {
  min-width: 320px;
  display: flex;
  justify-content: space-between;

  div:nth-child(2) button {
    margin-top: -7px;
  }
}
