::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

#intro {
  display: flex;

  div:first-child {
    padding: 1rem;
  }
}

img {
  height: 300px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;

  div:nth-child(2) button {
    margin-top: -7px;
  }
}


mat-card{
  max-width : 600px;
}

h1{
  text-decoration : underline;
  font-size : 1.2rem;
}

mat-form-field{
  width : 100%;
}
