main {
  margin-top: 65px;
}

#nav-close-button {
  text-align: right;
  height: 10px;
}

@media screen and (max-width: 500px) {
  .reduced {
    display: none;
  }

  .opened {
    width: 100%;
  }
}

#story-buttons {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

#story {
  margin-top: 60px;
}
