<main>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="70" [class.opened]="sidenav.opened">
      <div id="nav-close-button">
        <button mat-icon-button aria-label="Fermer les paramètres" (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <app-content-visibility></app-content-visibility>
      <app-content-filters></app-content-filters>
    </mat-sidenav>

    <mat-sidenav-content [class.reduced]="sidenav.opened">
      <div id="story-buttons">
        <button mat-icon-button aria-label="Paramètres" (click)="sidenav.open()">
          <mat-icon>settings</mat-icon>
        </button>
        <app-download-menu></app-download-menu>
      </div>
      <div id="story">
        <app-story></app-story>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
