  main {
    margin-top: 112px;
    width : 100%;
    padding-bottom : 1rem;
  }

  @media screen and (min-width: 600px) {
    main {
      margin-top: 129px;
    }
  }



  .filter-large {
    display: none;
  }

  .filter-small {
    margin-bottom: 1rem;
    display: inline-block;
  }


  .filter-small {
    width: 100%;
  }

  @media screen and (min-width: 850px) {
    main {
      margin-top: 148px;
      display: flex;
    }

    .filter-large {
      display: block;
    }


    #filters {
      white-space: nowrap;
      margin-right: 1rem;
      position: fixed;
    }

    #story {
      margin-left: 310px;
      margin-right: 1rem;
      width: 95%;
      max-width: 1200px;
    }

    .filter-small {
      display: none;
    }

    .filter-large {
      margin-left: 1rem;
      overflow-y: auto;
      max-height: calc(100vh - 147px - 1rem);
    }
  }
