table{
  width : 500px;
}

.container{
  margin-bottom : 1rem;
  height :50vh;
  overflow-y: scroll;
}

mat-form-field{
  width : 800px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;

  div:nth-child(2) button {
    margin-top: -7px;
  }
}
