@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette),
        accent: mat.define-palette(mat.$blue-grey-palette),
      ),
    ));


/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
  background-color: #303030;
  @include mat.all-component-themes($dark-theme);

  mat-card-title,
  mat-card-content {
    background-color: #424242;
    color: #fff;
  }
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

mat-panel-title {
  font-size: 20px;
  font-weight: 500;
}
