<article>
  <ng-container *ngIf="chapter">
    <mat-card>

      <mat-card-header>
        <mat-card-title [style.fontSize]="getStoryFontSize()">{{chapter.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="story" [style.fontSize]="getStoryFontSize()">
          <app-move-chapter></app-move-chapter>

          <ng-container *ngIf="isAuthenticated">
            <div>
              <button class="btn__editing-content" mat-stroked-button aria-label="Ajout section"
                (click)="openCreateSectionForm(0)">
                Ajout section
              </button>
            </div>
          </ng-container>

          <ng-container *ngIf="chapter.sections.length">
            <ng-container *ngFor="let section of chapter.sections">
              <h1 [style.fontSize]="getStoryFontSize()">{{section.title}}
                <button mat-icon-button *ngIf="isAuthenticated"
                  (click)="openEditSectionTitleForm(section.id)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button *ngIf="isAuthenticated"
                  (click)="deleteSection(section.id)"><mat-icon>delete</mat-icon></button>
              </h1>

              <ng-container *ngIf="isAuthenticated">
                <div>
                  <button class="btn__editing-content" mat-stroked-button aria-label="Ajout paragraphe"
                    (click)="openCreateParagraphForm(section.id,0)">
                    Ajout paragraphe
                  </button>
                </div>
              </ng-container>

              <ng-container *ngFor="let paragraph of section.paragraphs">
                <div class="story__paragraph">
                  <div>
                    <p><app-paragraph [paragraph]="paragraph"></app-paragraph></p>
                  </div>
                  <div *ngIf="isAuthenticated">
                    <button mat-icon-button
                      (click)="openEditParagraphForm(section.id, paragraph.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button
                      (click)="deleteParagraph(section.id, paragraph.id)"><mat-icon>delete</mat-icon></button>
                  </div>
                </div>
                <ng-container *ngIf="isAuthenticated">
                  <div>
                    <button class="btn__editing-content" mat-stroked-button aria-label="Ajout paragraphe"
                      (click)="openCreateParagraphForm(section.id, paragraph.id)">
                      Ajout paragraphe
                    </button>
                  </div>
                </ng-container>

              </ng-container>

              <ng-container *ngIf="isAuthenticated">
                <div>
                  <button class="btn__editing-content" mat-stroked-button aria-label="Ajout section"
                    (click)="openCreateSectionForm(section.id)">
                    Ajout section
                  </button>
                </div>
              </ng-container>

            </ng-container>
            <app-move-chapter></app-move-chapter>
          </ng-container>

          <ng-container *ngIf="!chapter.sections.length">
            Aucun contenu pour ce chapitre avec les filtres actuels.
          </ng-container>

        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="!chapter">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Chapitre non trouvé</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Le chapitre demandé n'a pas été trouvé.</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</article>
