<article>
  <ng-container *ngIf="chapter">
    <mat-card>

      <mat-card-header>
        <mat-card-title [style.fontSize]="getStoryFontSize()">{{chapter.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="story" [style.fontSize]="getStoryFontSize()">
          <app-move-chapter [currentChapterNumber]="chapter.order"></app-move-chapter>

          <app-adding-text></app-adding-text>
          <app-text-form
            [textFormIdentifier]="{action: 'adding', previousTitle : 0, previousParagraph : 0, chapterId}"></app-text-form>

          <ng-container *ngIf="chapter.sections.length">
            <ng-container *ngFor="let section of chapter.sections">
              <h1 [style.fontSize]="getStoryFontSize()">{{section.title}}</h1>
              <ng-container *ngFor="let paragraph of section.paragraphs">
                <p><app-paragraph [paragraph]="paragraph"></app-paragraph></p>
              </ng-container>
            </ng-container>
            <app-move-chapter [currentChapterNumber]="chapter.order"></app-move-chapter>
          </ng-container>

          <ng-container *ngIf="!chapter.sections.length">
            Aucun contenu pour ce chapitre avec les filtres actuels.
          </ng-container>

        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="!chapter">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Chapitre non trouvé</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Le chapitre demandé n'a pas été trouvé.</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</article>
