#story {
  font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  max-width: 800px;
}

mat-card-title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

mat-card-title,
h1 {
  line-height: 1.1em;
}

h1 {
  text-decoration: underline;
}

button[mat-icon-button]{
  transform : scale(0.8);
}
