#story {
  font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    padding-bottom : 50px;
}

mat-card-title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

mat-card-title,
h1 {
  line-height: 1.1em;
}

h1 {
  text-decoration: underline;
}

.story__buttons-modification {
  padding: 5px;

  button {
    margin-bottom: 5px;
  }
}

button[mat-icon-button] {
  width: 26px !important;
  height: 26px !important;
  padding: 4px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  &>*[role=img] {
    font-size: 20px;
  }

}

.story__paragraph {
  display: flex;
}


.btn__editing-content {
  margin-bottom: 1rem;
  width: 175px;
  transform: scale(0.8);
}

#return-to-top-container {
  display: flex;
  justify-content: center;

  #return-to-top {
    position: fixed;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
  }

}

.paragraph-content{
  width : 100%;
}

