<ng-container *ngIf="isAuthenticated">
  <div *ngIf="!isDisplayedTextForm">
    <button mat-icon-button aria-label="Ajout" (click)="addSection()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="isDisplayedTextForm">
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
      <ng-container *ngIf="textFormMetadata.type=='section'">
        <form [formGroup]="titleForm" (ngSubmit)="onSubmitSection()">
          <div>
            <mat-form-field>
              <input matInput placeholder="Titre de la section" formControlName="title" required>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="onSubmitSection()">{{submitButtonText}}</button>
            <button mat-raised-button (click)="onCancelTitle()">Annuler</button>
          </div>
        </form>
      </ng-container>
    </div>

    <div>

    </div>
  </div>
</ng-container>
