.main-button {
  transform: scale(1.3);
}

.current-chapter {
  text-decoration: underline;
}

#chapter-button {

  cursor: pointer;
  display: flex;
  align-items: center;

  #chapter-button-txt {
    height: 100%;
  }
}

@media screen and (max-width: 600px){
  #chapter-button-txt {
    display: none;
  }
}
