<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div>Gestion des chapitres</div>
      <div><button mat-icon-button mat-dialog-close aria-label="Fermer la fenêtre"
          tabindex="-1"><mat-icon>close</mat-icon></button></div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div *ngIf="isLoading">
      <mat-spinner [diameter]="200"></mat-spinner>
    </div>

    <section class="mat-elevation-z8" tabindex="0" [style.visibility]="!isLoading ? 'visible' : 'hidden'"
      id="table-container">
      <mat-table #table mat-table [dataSource]="chaptersMetadata" cdkDropList (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="dragDisabled">

        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef> Ordre </mat-header-cell>
          <mat-cell *matCellDef="let chapterMetadata">
            <mat-icon class="dragCursor" (mousedown)="dragDisabled = false;">reorder</mat-icon>
            <span>{{chapterMetadata.order}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
          <mat-cell *matCellDef="let chapterMetadata">
            <mat-form-field subscriptSizing="dynamic">
              <input matInput type="string" maxlength="80" [(ngModel)]="chapterMetadata.title"
                placeholder="Titre du chapitre" />
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let chapterMetadata"> <button mat-icon-button
              (click)="deleteChapter(chapterMetadata.id)"><mat-icon>delete</mat-icon></button> </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>

      </mat-table>
    </section>

    <p>
      <button mat-raised-button color="primary" (click)="addChapter()">Ajouter un chapitre</button>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="onSubmit()">Sauvegarder</button>
    </p>
  </mat-card-content>
</mat-card>
